


html, body {
	height:100%;
	overflow:hidden;	
	
	margin:0;
	padding:0;
}

body {
	background-color:#300;
	background: url(/images/bg-fullscreen.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

img {
	border:none;	
}

/*********************************************************************************/
/********************           Main Containers           ************************/


/* Query Conditions */
@query-min-height-header:700px; /* Do we show the Header? */
@query-min-height-fullscreen:550px; /* Do we fullscreen? */
@query-min-width-fullscreen:900px;
@query-min-width-rightcontainer:800px; /* Do we show the Right Container? */

/* Wrapper Layouts */
@header-height:100px;
@wrapper-margin-bottom:40px;
@wrapper-margin-bottom-withheader:@wrapper-margin-bottom+@header-height;
@wrapper-margin-top:20px;
@wrapper-min-width:300px;
@wrapper-max-width:1300px;

@console-margin-bottom:40px;


@box-border-radius:12px;


#wrapper1 {
	/* Vertical Elasticity (top) */
	position:relative;
	top:0px;	
	height:100%;
}

#wrapper2 {
	/* Vertical Elasticity (bottom) */
	position:absolute;
	top:0px;
	bottom:0px;
	width:100%;
	overflow:hidden;
}

#wrapper3 {
	/* Vertical Elasticity (fit) */
	position:absolute;
	top:0px;
	bottom:0px;
	width:100%;
	
	padding-bottom:@wrapper-margin-top;
}

#wrapper4 {
	/* Horizontal Fluidity */
	border:groove 5px #900;
	.border-radius(@box-border-radius);
	max-width:@wrapper-max-width;
	min-width:@wrapper-min-width;
	margin:auto;
	height:100%;
	overflow:hidden;
}

#main {
	/* Inner-Fitting */
	position:relative;
	height:100%;
	width:100%;
}

#wrapper-console {
	/* Console Vertical Elasticity (fit)*/
	position:absolute;
	top:0px;
	bottom:@console-margin-bottom;
	width:inherit;
}

footer {
	height:@wrapper-margin-bottom;
}

/* (conditional) Non-Fullscreen */
@media screen and (min-height: @query-min-height-fullscreen) and (min-width: @query-min-width-fullscreen) {
	
	#wrapper1 {
		top:@wrapper-margin-top;	
	}
	
	#wrapper2 {
		bottom:@wrapper-margin-bottom;
	}
}



/*********************************************************************************/
/*************************           Header           ****************************/


header {
	display:none;	
	width:100%;
	height:@header-height;
	
	background-color:#FFF;
}


/*********************************************************************************/
/*******************           Console Containers           **********************/

@right-container-width: 280px;
@channel-details-margin-right: 40px;
@query-max-height-rightcontainer-serverdetails: 460px;
@query-max-height-rightcontainer-logo: 380px;
@query-max-height-rightcontainer-chanoptions: 330px;

#wrapper-cube {
	position:absolute;
	margin-top:0px !important;
	overflow:hidden;
	height:100%;
	
	left:0px;
	right:0px;
}

#channel-details {
	float: right;
	position: absolute;
	top: 10px;
	right: @channel-details-margin-right;
	min-width: 100px;
	height: 40px;
	z-index: 2;
	/*.transform(translatez(999999px));*/ /* Cube-Translations will sneakily float in front of this */
	
	.box-shadow(0px,0px,5px,3px,whitesmoke);
	.border-radius(3px);
	.gradient(#F6F4F4,#CDCDD4);

}

#chan-title {
	text-align:center;	
}

@media screen and (min-width: @query-min-width-rightcontainer) {
	#wrapper-cube {
		right:@right-container-width;	
	}
	
	#channel-details {
		right:@right-container-width+@channel-details-margin-right;	
	}
	
	#right-container {
		float:right;
		height:100%;
		width:@right-container-width;
		.gradient-linear(~"top, #A90329 0%,#8F0222 44%,#6D0019 100%");
		.border-radius(0px,@box-border-radius,0px,0px);
	}
}

@media screen and (max-height: @query-max-height-rightcontainer-serverdetails) {
	#rc-section-midupper {
		display:none;
	}
}

@media screen and (max-height: @query-max-height-rightcontainer-logo) {
	#rc-section-top {
		display:none;
	}
}

@media screen and (max-height: @query-max-height-rightcontainer-chanoptions) {
	#rc-section-midlower {
		display:none;
	}
}

/*********************************************************************************/
/**********************           Right Console           ************************/

@userlist-height:230px;

#rc-section-midlower {
	position:absolute;
	bottom:@userlist-height;	
	right: 0px;
}


#rc-section-bottom {
	position: absolute;
	bottom: 5px;
	width: 230px;
	height: @userlist-height;
	border: solid 2px #999;
	.border-radius(10px);
	right: 8px;
	background: rgba(255, 0, 10, 0.2);	
	overflow:auto;
	z-index: 1;
}

#rc-chanoptions {
	margin-left:7px;	
}

#rc-chanoptions img {
	margin:10px;	
	max-width:35px;
}

#rc-details-channame {
	text-align:right;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	font-size:24px;
	padding:5px;
}

#rc-section-top {
	width: inherit;
}

#rc-logo {
	width: inherit;
	margin: -30px 10px;
}

#rc-section-bottomlogo {
	position: absolute;
	bottom: 30px;
	right: 20px;
}

#rc-logoruby {
	height: 128px;
	width: 128px;
	margin: auto;
	position: relative;
	top: 20px;
	border: none;
	display: block;
	opacity: 0.6;
}

#rc-section-midupper {
	background:black;
	color:white;	
}


/*********************************************************************************/
/************************           Console            ***************************/


#console {
	background:#111;	
	
	position:absolute;
	margin-top:0px;
	left:10px;
	right:10px;
	
	min-height:100%;
	overflow:auto;
	.border-radius(@box-border-radius,@box-border-radius,0px,0px);
}

.chan-item {
	clear:none !important;	
	float:none !important;	
	width:auto !important;	
}


#footer {
	position:absolute;
	bottom:0px;
	width:inherit;	
}



/*********************************************************************************/
/*********************           Channel Details            **********************/


#channels {
	.box-pack;
	margin: 0px auto;
}

#channels-selector {
	width: 12px;
	height: 14px;
	position: absolute;
	border: medium solid lime;
	margin-top: -2px;
	.transition(left 0.6s cubic-bezier(0.42,0,0.58,1));
}

.channels-chanitem {
	.inline-box;
	width: 10px;
	height: 12px;
	padding: 1px;
	border: thin solid black;
	margin: 0px 2px;
	background: #DDD;	
	
	position:relative;
	bottom:15px;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
	.channels-chanitem  {
		bottom:auto;	
	}
}



#channels-selected {
	background: #3F3;
}

.channels-chanitem-link {
	position:absolute;
	width:inherit;
	height:inherit;
	display:block;	
}



/*********************************************************************************/
/*********************           Console 3D Cube           ***********************/

@cube-transform-speed:400ms;
#console-cube {
	.transform-style;
	.transition-with-transform(~"",@cube-transform-speed,linear,~"");
	/*.transform(rotateX(0deg) rotateY(0deg));*/
	
	
	height:inherit;
	width:inherit;
	margin:auto;
	position:relative;
}

#console-cube .face {
	width:100%;
	height:100%;
	position:absolute;
	
	background:#111;
	overflow:auto;
	.border-radius(@box-border-radius,@box-border-radius,0px,0px);
}


#console-cube-top    { /*.transform(rotateX(90deg)  translateZ(200px));*/ background:lighten(#111, 3%) !important; }
#console-cube-left   { /*.transform(rotateY(-90deg) translateZ(200px));*/ background:darken(#111, 10%) !important; }
#console-cube-right  { /*.transform(rotateY(90deg)  translateZ(200px));*/ background:lighten(#111, 10%) !important; }
#console-cube-bottom { /*.transform(rotateX(-90deg)  translateZ(200px));*/ background:darken(#111, 30%) !important; }
#console-cube-back   { /*.transform(rotateY(180deg) translateZ(200px));*/ background:darken(#111, 10%) !important; }
#console-cube-front  { /*.transform(translateZ(200px));*/
	height:100%;
	overflow:auto;
	.border-radius(@box-border-radius);
}

/* NOTE: For 3D cube to work, the faces all need to be square (width=height); Use this during animation stage */
/* TODO: Make this scalable (media-queries depending on window dimensions) */
.console-cube-turntocube {
	/*width:400px !important;
	height:400px !important;*/
	/*margin:auto;
	position:relative;*/
	/*top:100px;*/
	
	/*.transition-with-transform(~"all 100 ms, ",@cube-transform-speed,linear,~"!important");*/
}

.console-cube-turntocube .face {
	overflow:hidden !important;	
	.transition(left 0.6s cubic-bezier(0.42,0,0.58,1)); 
}


.console-cube-reset { /*.transition-with-transform(~"all 200ms, ",0s,linear,~"!important"); .transform(~"rotateX(0deg) rotateY(0deg) !important");*/ }
.console-cube-animate-right1 { /*.transform(~"rotateX(-9deg) rotateY(-60deg) !important");*/ }
.console-cube-animate-right2 { /*.transform(~"rotateX(0deg) rotateY(-90deg) !important");*/ }
.console-cube-animate-left1 {  /*.transform(~"rotateX(-9deg) rotateY(60deg) !important");*/ }
.console-cube-animate-left2 {  /*.transform(~"rotateX(0deg) rotateY(90deg) !important");*/ }





/*********************************************************************************/
/************************             Users             **************************/

.channel-user {
	display:block;
	background: white;
	float: left;
	margin: 5px;
	padding: 0px 8px;
	border: 1px dotted #8A2BE2;
	.border-radius(18px);
	text-decoration:none;
	background: rgba(100, 0, 10, 0.8);
	font-weight: bold;
	font-family: 'Comic Sans MS';
	color: cyan;
}

.channel-user[status="operator"] {
	color: #F2F;
	background: #004;
}

.channel-user[status="voice"] {
	color: #009;
	background: #E70;
}


.channel-user:hover {
	background:gray;	
}



#user-optionscontainer {
	position: absolute;
	/*.transform(translatez(999999px));*/
	z-index:2;
}

#user-optionscontainer.off {
	display:none;
}

#user-optionscontainer div {
	.transition(height 120ms linear);	
}

#user-optionsbox {
	background: rgba(255, 0, 10, 0.2);
	.box-shadow(0px,0px,5px,3px,violet);
	.border-radius(3px);
	width: 200px;
	height: 200px;
	overflow:hidden;
}

#user-optionsbox.off {
	height:0px;
}

#ob-container-string1 {
	overflow: hidden;
	width: 130px;
	height: 80px;
	margin: auto;
	top: 100px;
	position: absolute;
	left: 200px;
}

#ob-container-string1 div {
	border: solid 1px violet;
	.border-radius(~"45px / 40px");
	top: 20px;
	left: -40px;
	height: 100px;
	width: 85px;
}

#ob-container-string1.off {
	width:0px !important;
	left:0px !important;
}

#ob-string1 {
	position: absolute;
	.box-shadow(0px,0px,15px,1px,violet);
}

#ob-string1i {
	position: relative;
	.box-shadow(0px,0px,15px,1px,violet,inset);
}


#ob-container-string2 {
	overflow: hidden;
	width: 34px;
	height: 120px;
	margin: auto;
	top: 180px;
	position: absolute;
	left: 236px;
}

#ob-container-string2 div {
	border: solid 1px violet;
	.border-radius(~"45px / 40px");
	top: -35px;
	left: 10px;
	height: 80px;
	width: 85px;
}

#ob-container-string2.off {
	width:0px !important;
	left:0px !important;
}

#ob-string2 {
	position: absolute;
	.box-shadow(0px,0px,15px,1px,violet);
}

#ob-string2i {
	position: relative;
	.box-shadow(0px,0px,15px,1px,violet,inset);
}




#ob-container-string3 {
	overflow: hidden;
	width: 63px;
	height: 20px;
	margin: auto;
	top: 211px;
	position: absolute;
	left: 270px;
}

#ob-container-string3 div {
	border: solid 1px violet;
	.border-radius(~"45px / 40px");
	top: 10px;
	left: -40px;
	height: 80px;
	width: 125px;
}

#ob-container-string3.off {
	width:0px !important;
	left:0px !important;
}

#ob-string3 {
	position: absolute;
	.box-shadow(0px,0px,15px,1px,violet);
}

#ob-string3i {
	position: relative;
	.box-shadow(0px,0px,15px,1px,violet,inset);
}


.user-option {
	display:block;
	.gradient-linear(~"top, #D70000, #AE0000");
	.gradient(~"linear, 0% 16%, 0% 39%, from(#D70000), to(#AE0000)");
	padding: 2px;
	text-decoration: none;
	color: black;
	text-align: center;
	text-shadow: 0px 0px 10px whiteSmoke;
}

.user-option:hover {
	.gradient-linear(~"top, #FF0000, #E30000");
	.gradient(~"linear, 0% 17%, 0% 38%, from(#FF0000), to(#E30000)")
}

#user-optionscontainer:not([powermode="operator"]) .powermode-operator {
	cursor:no-drop;
	color: #555;
	background: gray !important;
	text-decoration: line-through;
}









/*********************************************************************************/
/************************             Footer             *************************/

footer {
	.gradient-linear(~"top, #400 0%,#300 30%,#200 100%");	
}

#prompt-goodies {
	position: absolute;
	margin: -5px 20px;
	/*.transform(translatez(999999px));*/ /* Cube-Translations will sneakily float in front of this */
}

#prompt-goodies a {
	display:block;	
	position:absolute;
}

#prompt-goodies a:hover {
	margin-top: -5px;
}

#gd-colours {
	width: 18px;
	height: 18px;
	background: rgba(255, 0, 10, 0.7);
	margin-left: 30px;
	.box-shadow(0px,0px,2px,1px,violet);
	.border-radius(3px);	
}

.gd-colours-img {
	display: block;
	width: 7px;
	height: 7px;
	margin: 1px;
	float: left;
}


#fPrompt {
	display:block;
	position:absolute;
	left:5px;
	right:10px;
	width:auto;
}

#prompt {
	width:100%;
	margin-top: 9px;	
	border-radius: 3px;
}




/*********************************************************************************/
/***********************          Colour Window          *************************/

#cw-colours-container {
	position: absolute;
	bottom: 70px;
	left: 50px;
	background: whiteSmoke;
	.border-radius(7px);
	padding: 1px 3px;	
	max-width: 100px;
	/*.transform(translatez(999999px));*/
	border: solid 1px white;
	.box-shadow(0px,0px,6px,2px,whiteSmoke);
	opacity: 0.95;
}

#cw-colours-container a {
	display: block;
	margin: 1px 1px;
	width: 8px;
	height: 8px;
	float: left;
	border: dotted 1px black;
}




/*********************************************************************************/
/**********************          Emoticons Window          ***********************/

#ew-emoticons-container {
	position: absolute;
	bottom: 70px;
	left: 50px;
	background: whiteSmoke;
	border-radius: 7px;
	padding: 0px 3px;	
	max-width: 100px;
	/*.transform(translatez(999999px));*/
}

#ew-emoticons-container a {
	display: block;
	margin: 5px 1px;
	width: 10px;
	height: 10px;
	float: left;
}

#ew-emoticons-container a:hover {
	margin:5px 2px 5px 4px;
}







/*********************************************************************************/
/**************************          Effects          ****************************/

#loading-indicator {
	background: url(/images/ajax-loader.gif);
	width: 43px;
	height: 11px;
	margin: auto;	
	
	display:none;
}



/*********************************************************************************/
/********************           Connection Info           ************************/

#rc-details-ping {
	width:130px;	
	padding-top:20px;
	background-origin:padding-box;
}

#rc-details-ping[connection-level="5"] {
	background:url(/images/signal-strength-5.png) no-repeat padding-box right;
	color:#0A0;
}

#rc-details-ping[connection-level="4"] {
	background:url(/images/signal-strength-4.png) no-repeat padding-box right;
	color:#270;
}

#rc-details-ping[connection-level="3"] {
	background:url(/images/signal-strength-3.png) no-repeat padding-box right;
	color:#450;
}

#rc-details-ping[connection-level="2"] {
	background:url(/images/signal-strength-2.png) no-repeat padding-box right;
	color:#630;
}

#rc-details-ping[connection-level="1"] {
	background:url(/images/signal-strength-1.png) no-repeat padding-box right;
	color:#910;
}

#rc-details-ping[connection-level="0"] {
	background:url(/images/signal-strength-0.png) no-repeat padding-box right;
	color:transparent;
}



/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
/**********************          MESSAGE CLASSES          ************************/

.message-self {
	color:white;	
	text-shadow: 0 1px 0 white;
}

.message-old {
	opacity:0.2;	
}

.message-action {
	font-family:Arial, Helvetica, sans-serif;
}

.message-success {
	font-weight:bold;	
}

.msg-time {
	text-shadow:none;	
}

.ui-link {
	font-weight:bold;	
}

.message-startup {
	font-family: Trebuchet;
	font-size: 18px;
	color:#FFD900;
}

.message-startup a[href] {
	text-decoration: none;
	color: #FFF;
	font-weight: 600;
}

.message-startup a[href]:hover {
	color: #A65500;
}

/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
/***************************          MIXINS          ****************************/

.border-radius(@r) {
	border-radius:			@r;  /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
	-webkit-border-radius:	@r;	 /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
	-moz-border-radius:		@r;	 /* FF1-3.6 */
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.border-radius(@tl,@tr,@bl,@br) {
	border-top-left-radius:					@tl;
	-webkit-border-top-left-radius:			@tl;	
	-moz-border-top-left-radius:			@tl;	
	
	border-top-right-radius:				@tr;
	-webkit-border-top-right-radius:		@tr;	
	-moz-border-top-right-radius:			@tr;	
	
	border-bottom-left-radius:				@bl;
	-webkit-border-bottom-left-radius:		@bl;	
	-moz-border-bottom-left-radius:			@bl;	
	
	border-bottom-right-radius:				@br;
	-webkit-border-bottom-right-radius:		@br;	
	-moz-border-bottom-right-radius:		@br;	
	
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}


.box-shadow(@hOffset, @vOffset, @blur, @spread, @colour, @inset:~"") {
	box-shadow:			@hOffset @vOffset @blur @spread @colour @inset; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
	-webkit-box-shadow:	@hOffset @vOffset @blur @spread @colour @inset; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:	@hOffset @vOffset @blur @spread @colour @inset; /* FF3.5 - 3.6 */
}

.transform-style {
/* 	transform-style: 			preserve-3d; */
/* 	-webkit-transform-style: 	preserve-3d; */
/* 	-moz-transform-style: 		preserve-3d; */
/* 	-o-transform-style: 		preserve-3d; */
/* 	-ms-transform-style: 		preserve-3d; */
}

.transform(@f) {
	transform: 			@f;
	-webkit-transform: 	@f;
	-moz-transform: 	@f;
	-o-transform: 		@f;
	-ms-transform: 		@f;
}


.transition(@f) {
	transition:			@f;
	-webkit-transition:	@f; 	/* Saf3.2+, Chrome */
	-moz-transition:	@f; 	/* FF4+ */
	-o-transition:		@f; 	/* Opera 10.5+ */
	-ms-transition:		@f; 	/* IE10 */
}

.transition-with-transform(@start, @transformSpeed, @ease, @end:~"") {
	transition:			@start transform @transformSpeed @ease @end;
	-webkit-transition:	@start -webkit-transform @transformSpeed @ease @end; 	/* Saf3.2+, Chrome */
	-moz-transition:	@start -moz-transform @transformSpeed @ease @end; 		/* FF4+ */
	-o-transition:		@start -o-transform @transformSpeed @ease @end; 		/* Opera 10.5+ */
	-ms-transition:		@start -ms-transform @transformSpeed @ease @end; 		/* IE10 */
}

.box-pack {
	display:			block;
	text-align:			center;
	
	display:			box;
	box-orient: 		horizontal;
	box-pack: 			center;
	box-align: 			center;	
	
	display:			-webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: 	center;
	-webkit-box-align: 	center;	
	
	/* display:			-moz-box; */
	-moz-box-orient: 	horizontal;
	-moz-box-pack: 		center;
	-moz-box-align: 	center;	
	
	display:			-o-box;
	-o-box-orient: 		horizontal;
	-o-box-pack: 		center;
	-o-box-align: 		center;	
	
	display:			-ms-box;
	-ms-box-orient: 	horizontal;
	-ms-box-pack: 		center;
	-ms-box-align: 		center;		
}

.inline-box {
	display: inline-box;
	display: -webkit-inline-box;
	display: -moz-inline-box;
	display: -o-inline-box;
	display: -ms-inline-box;
}


.gradient (@startColor, @endColor) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor)); /* Saf4+, Chrome */
	background: -webkit-linear-gradient(top, @startColor, @endColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background: -moz-linear-gradient(top, @startColor, @endColor); /* FF3.6 */
	background: -o-linear-gradient(top, @startColor, @endColor); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, @startColor, @endColor); /* IE10 */
}

.gradient (@f) {
	background: -webkit-gradient(@f);
	background: -moz-gradient(@f);
	background: -o-gradient(@f);
	background: -ms-gradient(@f);	
}

.gradient-linear (@f) {
	background: -webkit-linear-gradient(@f);
	background: -moz-linear-gradient(@f);
	background: -o-linear-gradient(@f);
	background: -ms-linear-gradient(@f);	
}

