/* CSS Document */
@font-face {
  font-family: 'Elven';
  src: url('fonts/elven/tngani.ttf');
}

body {
	margin:0;
	background:#300;
	
	width:100%;
}


#console {
	background: -webkit-gradient(linear, 0% 20%, 0% 91%, from(#3F0000), to(#260009));
	background: -moz-gradient(linear, 0% 20%, 0% 91%, from(#3F0000), to(#260009));
	background: -o-gradient(linear, 0% 20%, 0% 91%, from(#3F0000), to(#260009));
	background: -ms-gradient(linear, 0% 20%, 0% 91%, from(#3F0000), to(#260009));
	
	color:#999;
	clear:both;
	font-family:Georgia, "Times New Roman", Times, serif;
	
	max-width:100%;
	
	white-space:pre-wrap;
	word-wrap:break-word;

}

#console.stealth {
	font-family:Elven;
}

#console.stealth img {
	display:none;
}

/* (mobile)  swipe-to-slide channels */
.console-anim-slider {
  -webkit-transition: margin 1.3s ease-out;  /* Safari 3.2+, Chrome */
     -moz-transition: margin 1.3s ease-out;  /* Firefox 4-15 */
       -o-transition: margin 1.3s ease-out;  /* Opera 10.5–12.00 */
          transition: margin 1.3s ease-out;  /* Firefox 16+, Opera 12.50+ */
}

.console-clone {
	background: -webkit-gradient(linear, 0% 20%, 0% 91%, from(#3F0000), to(#260009));
	background: -moz-gradient(linear, 0% 20%, 0% 91%, from(#3F0000), to(#260009));
	background: -o-gradient(linear, 0% 20%, 0% 91%, from(#3F0000), to(#260009));
	background: -ms-gradient(linear, 0% 20%, 0% 91%, from(#3F0000), to(#260009));
	
	color:#999;
	font-family:Georgia, "Times New Roman", Times, serif;
	
	/*width:100%;*/
	height:100%;
	top:0px;
	position:relative;
	float:left;
	
	white-space:pre-wrap;
	word-wrap:break-word;
	z-index:1;
	padding:0px 15px 0px 15px !important;	
	overflow:hidden;
}

.console-sliding {
	clear:none !important;
	float:left;
}

.console-parent-slidemode {
	width:50000px !important;
}


/* (mobile) channel bubbles */
.chan-bubbles {
	position:fixed;
	bottom:5px;
	width:100%;

	display: block;
	text-align: center;
	display: box;
	box-orient: horizontal;
	box-pack: center;
	box-align: center;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-moz-box-orient: horizontal;
	-moz-box-pack: center;
	-moz-box-align: center;
	display: -o-box;
	-o-box-orient: horizontal;
	-o-box-pack: center;
	-o-box-align: center;
	display: -ms-box;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-ms-box-align: center;
	margin: 0 auto;
}

.chan-bubble {
	-moz-box-flex: 1.0;
	-webkit-box-flex: 1.0;
	box-flex: 1.0;
	display: inline-box;
	display: -webkit-inline-box;
	display: -moz-inline-box;
	display: -o-inline-box;
	display: -ms-inline-box;
	width: 10px;
	height: 12px;
	padding: 1px;
	border: thin solid black;
	margin: 0 2px;
	border-color: #DDD;
	position: relative;

	-moz-border-radius: 35px;
	border-radius: 35px;
}

.chan-bubble.selected {
	background:green;
}


.chan-name {
	position: fixed;
	top: 35%;
	width: 100%;
	text-align: center;
	font-family: "Comic Sans MS";
	font-weight: bold;
	font-size: 4em;
	margin-left: auto;
	margin-right: auto;
	
	text-shadow: #D1F 0 0 1px, white 0 -1px 2px, white 0 -3px 2px, rgba(0, 0, 0, 0.8) 0 30px 25px;
	color: transparent;
}



/* */
.ui-content {
	padding:0px 15px 10px 15px !important;	
}

#fPrompt {
	position:relative;
	width:100%;	
}

.ui-controlgroup-horizontal .ui-btn, .ui-controlgroup-horizontal .ui-controlgroup-last {
	margin:0 0 0 0 !important;
}

.chanitem {
	clear:both;
	float:left;
	width:100%;
}





/*********************************************************************************/
/************************          Disconnected          *************************/

.disconnected #console {
	opacity:0.2;
}

.disconnected #prompt {
	opacity:0.5;
	color:#999;
}

.disconnected #header {
	opacity:0.5;	
}


/*********************************************************************************/
/************************             Header             *************************/


#header {
	position:static;
	top:0px;
	left:0px;
	width:100%;	
	display:none;
}

.ui-footer {
	background: #200009 !important;
	border: #260009;
}


/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
/**********************          MESSAGE CLASSES          ************************/


.message-error {
	color:#F00;
	font-style:italic;	
	text-shadow:none;
}

.message-success {
	color:aqua;
}

.msg-time {
	color:#DDD;	
	font-family:'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-size:12px;
}



.message-action {
	color:#00C !important;	
	text-shadow:0 0px 0 #002;
	font-family:'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-family:Arial, Helvetica, sans-serif;
}

.msg-message {
	/*text-shadow:none;	*/
}

.msg-user {
	color:#CEF;	
	text-shadow: 0 1px 1px #CEF;
}

.msg-srvevent {
	color:#F30;
	font-family:'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}



.message-self {
	color:white;	
	text-shadow: 0 1px 1px white;
}

/* SELF MESSAGES */
:not(.message-old).mob-message-self:not(.msg-user) {
	/* TODO: whatsapp style mesages */
	background: #F6FFF2;
	width: 50%;
	font-size: 13px;
	border: thin solid #B4DBA2;
	padding: 2px 8px;
	margin-left: 45%;
	margin-top: 6px;
	font-weight: normal !important;
	font-family: Arial;
	font-size: 16px;
	border-radius: 3px;
	color:#000;
}

:not(.message-old).mob-message-self>.msg-time {
	/* TODO: whatsapp style mesages */
	position: absolute;
	background: #92D2D6;
	font-size: 10px;
	font-weight: normal;
	color: #000;
	border-radius: 2px;
	margin-left: -62px;
	padding: 1px 4px;
}

:not(.message-old).mob-message-self>.msg-user {
	/* TODO: whatsapp style mesages */
	display: none;
}



/* PARTNER MESSAGES */
:not(.message-old).mob-message-friend:not(.msg-user).chanitem {
	/* TODO: whatsapp style mesages */
	background: #FAFAF0;
	width: 300px;
	font-size: 13px;
	border: thin solid #CCCCC2;
	padding: 7px 8px 2px 8px;
	margin-top: 6px;
	font-weight: normal !important;
	font-family: Arial;
	font-size: 16px;
	border-radius: 3px;
	color:#000;
}

:not(.message-old).mob-message-friend.chanitem>.msg-time {
	/* TODO: whatsapp style mesages */
	background: #F3E6FC;
	font-size: 10px;
	font-weight: normal;
	color: #000;
	border-radius: 2px;
	padding: 1px 4px;
	float: right;
	margin-right: -60px;
	margin-top: -5px;
}

:not(.message-old).mob-message-friend.chanitem>.msg-user {
	/* TODO: whatsapp style mesages */
	position: absolute;
	margin-top: -17px;
	background: #92D2D6;
	color: #000;
	border-radius: 2px;
	padding: 1px 4px;
}









.message-old {
	opacity:0.4;	
}

.message-startup {
	font-family: Trebuchet;
	font-size: 18px;
	color:#FFD900;
}




.hidden {
	display:none !important;
}

.bold {
	font-weight:bold;	
}


