

header {
	/*position:static;	
	height:25px;
	padding:1px 0px 1px 0px;
	margin:0px 0px 0px 0px;*/
}

footer {
	position:static;
}

section {
	
}

channels {
	display:none;	
}

channel {
	position:relative;	
}

li {
	list-style:none;	
}




/*section {
	display:inline-block;
	margin:0 0 0 0 !important;
	border:none !important;
}

.leftpanel {
	height:100% !important;	
}

.leftpanelinner {
	margin-right:0px !important;
	height:100% !important;
}

.console {
	margin:0 0 0 0 !important;
	border-left:none !important;
	border-right:none !important;
	padding-left:2px !important;
}

.prompt {
	position:absolute !important;
}

.prompt input[name="text"] {
	margin-left:5px !important;
	width:80% !important;	
}

.prompt input[name="submit"] {
	display:none;	
}



.rightpanel {
	width:0px !important;
	margin-left:0px !important;	
	position:relative !important;
	display: block !important;
}

.rightpanel .mentions {
	display:none !important;	
}

.rightpanel .actions {
	
}

.rightpanel .users {
	width:95% !important;
	margin-top:-65px !important;
}




.channislide {
	height:15px;
}

.channislide.left {
	left:0px;	
}

.channislide.right {
	margin-left:5px;	
}

.channelinfo {
	overflow:visible !important;	
}

.chanbutton {
	margin-top:5px;	
}


.console ul li span {
	word-break:break-word;
	word-wrap:pre-wrap;
}


#subconsole {
	height:100%;	
}


div.displaysidebar {
	margin-left:-14px;
	margin-top:50px;
	position:relative;
}

.displaysidebar img {
	height:15px;	
}*/