/* CSS Document */

body {
	overflow:hidden;	
}

section {
	position:relative;
	width:85% !important;
	left:7%;
}	

.actions {
	height:120px !important;	
}

.actions .options {
	font-family:"Times New Roman", Times, serif;	
}

.logo {
	top:-58px !important;	
}

.console {
	margin:0px 3px 0px -2px !important;	
}

.channislide {
	left:0px !important;	
}

.channelinfo {
		
}

.toosmall {
	font-size: 64px;
	font-weight: bold;
	color: white;
	text-align: center;
}


.prompt input[type="text"] {
	float:left;	
}

#emoteButton img {
	margin-top: 3px;
	margin-left: 1px;
	border:none;
}

#emotewin img {
	border:none;	
}