/* CSS Document */

body {
	background:#000 !important;	
}

section {
	background:#000 !important;	
	border-color: #111 !important;
}

a.chan {
	color:#EDE;
}

.channelinfo {
	background:#070007 !important;	
}

.channislide {
	background-color:#000 !important;	
}

.chanbutton {
	background: #060006 !important;
	/*color: #111 !important;	*/
}

.channelinfo .unread {
	color:#D7A7D7 !important;	
}

.chanbutton.open {
	background: #414 !important;
	color:#F0F !important;	
}

.topic {
	background: #101 !important;
	color: white !important;	
	border-color: #333 !important;
}

.console {
	background: #111 !important;	
}

span.message {
	color:#FFF !important;	
	text-shadow:1px 1px 3px #808 !important;
}

span.event {
	color:#B5FFB5 !important;	
}

span.action {
	color:#707 !important;	
}

span.whisper {
	color:#FFB5FF !important;	
}

span.message.personal {
	color:#747 !important;	
}

span.action.personal {
	color:#505 !important;
}

.console [name="loadOlder"] {
	background-color:#170017 !important;	
	box-shadow: 0 0 5px 3px #172017 !important;
}



.rightpanel {
	background: black !important;	
}

.rightpanel .mentions {
	border-color:#000 !important;	
}

.rightpanel .users {
	background: #222 !important;
	border-color:#333 !important;	
}

.rightpanel .users .user {
	color:#770077 !important;	
}

.rightpanel .actions {
	border-color:#333 !important;	
	background:#000 !important;	
	color:#A5A !important;
}