/* CSS Document */

body {
	background:#000;
	margin:0;
}

#console {
	background:#300;
	color:#999;
	clear:both;
	font:Georgia, "Times New Roman", Times, serif;
	height:300px;
	width:100%;
}

input {
	width:100%;	
}